ul, ol {
  list-style: none;
  list-style-image: none;
  padding: 0;
}

.page {
  width: 320px;
  margin: 0 auto;
}
.commonHeading {
  padding: 5px;
  color: #ffffff;
  text-align: center;
}
.commonHeadingBlack {
  background-color: #000000;
}

.commentList li {
  margin-bottom: 20px;
}

.commentList li:first-child {
  margin-top: 10px;
}

.eventList li {
  margin-bottom: 10px;
  border-bottom: 1px dotted #999999;
}
.eventList li:last-child {
  border-bottom: none;
}

.commentModule {
  width: 300px;
  margin: 0 auto;
}

.textAreaLarge {
  width: 245px;
}

.textAreaMiddle {
  width: 200px;
}
.textAreaLarge,
.textAreaMiddle {
  float: right;
}

.comment {
  padding: 5px;
  border: 2px solid #999999;
  border-radius: 7px;
}

.moreButton {
  padding: 10px;
  margin: 20px 10px;
  text-align: center;
  background-color: #dcdcdc;
  border: 2px solid #999999;
  border-radius: 5px;
}

.eventTitle {
  font-weight: bold;
  background-color: #dcdcdc;
  text-align: center;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/*body {
	margin: 30px;
	font-size: small;
}
table {
   width: 500px;
	border: 4px solid #666;
}
table th,
table td {
	padding: 10px 40px 10px 20px;
	border: 2px solid #666;
	text-align: left;
}
table thead th {
	color: #fff;
	background: #666;
}
button {
  margin: 20px 0;
  padding: 10px 30px;
}*/